.current {
  color:green;
}
@keyframes example {
  50%  {background-color:red; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:yellow; left:0px; top:0px;}
}
.animationkassi{
  float:right;
  width:200px;
  height:400px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

.kassi{
  width: 100px;
  height: 100px;
  background-color: red;
  transition:background-color 1s, transform 6s ;
}
.kassi:hover{
  background-color:green;
  transform:rotate(3600deg) scale(2,3);
}

a{
  color: blue;
}
.nav_links{
  position:fixed;
  top:0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color:black;
  text-align:center;
}
.nav_list{
  display: inline;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.5s;
}
.nav_list:hover{
  background-color:grey;
  color: white;
  padding: 8px 16px;
}
img{
    width:540px;
    height: auto;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
form.form-example {
    display: table;
    border-spacing: 14px;
    border-style:inset;
    background-color:lightgray;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}
fieldset{
  background-color:gray;
}
